.pokemonList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pokemonItem {
    width: 33.33%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.pokemonItem img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.pokemonCard {
  border: 2px solid black;
  background-color: lightblue;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pokemonImage {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .pokemonName {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .pokemonDetail {
    margin-bottom: 5px;
  }
  
  .pokemonStat {
    list-style-type: none;
    padding: 0;
  }